@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');


body{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    
}

html{
    background-color: #101010;
    height: 100%;
    background-image: url(./stormandsky14.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}



h1 {
    color: #ffffff;
    width: 100%;
    text-align: center; 
    font-size: 60px;
    font-family: 'Product Sans';
    text-shadow: 0px 0px 2px #000000;
    }
    
  .container{
      margin: 40px;
      display: inline-block;     
  }
  
  .container ol{
      list-style-type: none;
      font-family: 'DM Sans', sans-serif;     
      font-weight: 400;    
  }
  
  .container ol .containerTitle{
    font-family: 'Product Sans';
    font-size: 40px;
    margin: 1;
  }
  
  .container ol .link1, .link2, .link3, .link4, .link5{
      font-size: 16px;
      text-decoration: none;
      color:#ffffff;
      text-shadow: 0px 0px 2px #000000;
  }
  
  .container ol .item{
      padding-top: 5px;
      padding-left: 2px;
  }
  
  .container ol .line{
      height: 4px;
      width: 150px;
  }
  
  .s1Title {
      background: linear-gradient(to right, #F7971E, #FFD200);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline; 
  }
  .s1Line{
      background: linear-gradient(to right, #F7971E, #FFD200);
  }
  
  .s2Title {
      background: linear-gradient(to right, #2980B9, #6DD5FA, #FFFFFF);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline; 
  }
  .s2Line{
      background: linear-gradient(to right, #2980B9, #6DD5FA, #FFFFFF);
  }
  
  .s3Title {
      background: linear-gradient(to right, #f7b733, #fc4a1a);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline; 
  }
  .s3Line{
      background: linear-gradient(to right,  #f7b733, #fc4a1a);
  }
  
  .s4Title {
      background: linear-gradient(to right, #FF5F6D,#FFC371);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline; 
  }
  .s4Line{
      background: linear-gradient(to right,#FF5F6D,#FFC371);
  }
  
  .s5Title {
      background: linear-gradient(to right, #00c3ff, #ffff1c);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline; 
  }
  .s5Line{
      background: linear-gradient(to right,#00c3ff, #ffff1c);
  }
