:root{
     
}

body {
     font-family: 'Turret Road', cursive;
     background-color: #121212;
     /* font-style: italic; */
     font-size: 17px;
     /* font-variant: small-caps; */
     /*background-image: url("/home/reddevil/Pictures/Desktop Wallpapers/Nature/aerial-photography-of-water-beside-forest-during-golden-hour-1144176.jpg"); */
     background-repeat: no-repeat;
     background-size: cover;
}

ul {
	padding-inline-start: 0;
     list-style: none;
     line-height: 140%;
}

#box {
	height: 90vh;
	display: flex;
	align-items: center;
     justify-content: center;
     /* padding: 15em; */
}

.container {
     background-color: #222222;
	height: 12em;
	width: 12em;
     padding: 1.5em;
     /* padding-bottom: 1em; */
     margin: 1%;
	border-radius: 20px;
     box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
     text-align: right;     
}

.container:hover {
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.24);
}

/* forces the text in a to be of below  */
a, a:visited {
     color: #c2c2c2;
     text-decoration: none; /*removes the underline in the links */
}

.downloads a:hover,
.downloads header {
     color: #f8a501;
} 


.entertainment a:hover,
.entertainment header {
     color: #de3e40;
} 

.social a:hover,
.social header {
     color: #ff4500;
} 

.learn a:hover,
.learn header {
     color: #4bc750;
} 

.reading a:hover,
.reading header {
     color: #de29de;
} 

.other a:hover,
.other header {
     color: #2ac6ce;
     
} 

header {
     font-family: 'Saira Stencil One', cursive;
	/* padding-bottom: 1px; */
     font-weight: bold;
     font-size: 1.5em;
     /* cursor: pointer; */
     /* text-align: left;   */
}
